h1{
    color: purple;
}

.square{
    height: 200px;
    width: 200px;
    background-color: #FFFF00;
    border: 2px solid black;
    transition: all 2s;
    /* transition: background-color 2s;
    transition: border-radius 2s; */
    /* transform: translate(0px,0px); */
}

.square:hover{
    background-color: red;
    border-radius: 50%;
    /* transform: translateX(1000px); */
    /* transform: scale(.2); */
    /* transform: scale(.2,.5); */
    /* transform: rotate(45deg); */
    /* transform: skew(45deg); */
}

.transform-box{
    width: 100px;
    height: 100px;
    border: 3px red solid;
    margin-top: 20px;
    background-color: black;
    color: white;
}

.transform-box:hover{
    margin-left: 500px;
    border-radius: 50%;
    background-color: white;
    color: black;
    transform: rotate(720deg);
}

.ease{
    transition: all 4s ease-in;
}

.ease-out{
    transition: all 4s ease-out;
}

.custom{
    transition: all 4s;
    transition-timing-function: cubic-bezier(1.000, 0.835, 0.000, 0.945)
}