body{
    height: 100vh;
    background: url('gradbg.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    font-family: 'Graduate', cursive;
}

.header{
    margin: 10vh;
}

h1{
    color: #F1B054;
    font-size: 60px;
}

#timer-div{
    background-color: none;
    color: #fff;
    display: inline-block;
    font-size: 40px;
}

/* Targets all divs one layer below #timer-div */
/* #timer-div > div{

} */

.time-unit, .time-unit > span{
    padding: 10px;
    border-radius:  3px;
    background: #F1B054;
    display: inline-block;
}