body{
    height: 100vh;
    background: url('http://www.pageresource.com/wallpapers/wallpaper/disney-princess-christmas.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
}

.container{
    background-color: white;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

h1{
    color: #396;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#timer-div{
    background-color: #00ECB9;
    color: #fff;
    display: inline-block;
    font-size: 30px;
}

/* Targets all divs one layer below #timer-div */
/* #timer-div > div{

} */

.time-unit, .time-unit > span{
    padding: 10px;
    border-radius:  3px;
    background: #00816A;
    display: inline-block;
}